@use "../../variables";

.about {
  &__section {
    &-hero {
      background-image: url(../../assets/Kelapa-Sawit.png);
      background-size: cover;
      background-position: center;
      backdrop-filter: blur(19px);

      &__text {
        background-color: rgba(255, 255, 255, 0.9);
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 15rem;

        @include variables.breakpoints("sm") {
          padding-bottom: 10rem;
        }

        h1 {
          font-family: Helvetica;
          font-weight: bold;
          font-size: 48px;
          text-align: center;
          line-height: 55px;

          color: #343534;

          @include variables.breakpoints("xs") {
            font-size: 42px;
            line-height: 52px;
          }
        }

        P {
          font-size: 15px;
          line-height: 23px;
          letter-spacing: 0.005em;
          text-align: center;
          max-width: 42rem;

          color: #343534;

          @include variables.breakpoints("xs") {
            font-size: 14px;
          }
        }

        :not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }

    &-content {
      position: relative;
      padding-top: 15rem;
      padding-bottom: 86px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include variables.breakpoints("sm") {
        padding-top: 10rem;
      }

      & > h1 {
        font-family: Helvetica;
        font-weight: bold;
        font-size: 48px;
        line-height: 55px;
        margin-bottom: 1rem;

        color: #3a5a4b;

        @include variables.breakpoints("xs") {
          font-size: 42px;
          line-height: 52px;
        }
      }

      & > p {
        font-size: 15px;
        line-height: 23px;
        letter-spacing: 0.005em;
        text-align: center;

        color: #343534;

        @include variables.breakpoints("xs") {
          font-size: 14px;
        }
      }

      &__image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          color: #fff;
          font-weight: bold;
          font-size: 17px;
          line-height: 21px;
          background: #354940;
          border-radius: 30px;
          max-width: 247px;
          padding: 12px 36px;
          z-index: 2;

          @include variables.breakpoints("xs") {
            font-size: 14px;
          }
        }

        img {
          border-radius: 50px;
          width: min(673px, 80vw);
          margin-top: -26.5px;
          z-index: 1;
        }
      }

      &__card {
        margin-top: 4.5rem;
        margin-bottom: 9rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5em 5em;

        @include variables.breakpoints("lg") {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
        }
      }
    }
  }
}
