@use "../../variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.navbar {
  background: #fff;
  box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 94px;
  position: sticky;
  top: 0;
  z-index: 999;

  &__logo {
    a {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 34px;
      line-height: 40px;
      color: #525452;

      span {
        font-family: "Roboto", sans-serif;
        color: #3a5a4b;
      }
    }
  }

  &__menu {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #424342;

    ul {
      display: flex;

      @include variables.breakpoints("md") {
        display: none;
      }

      li:not(:last-child) {
        margin-right: 4vw;
      }
    }
  }

  &__mobile {
    display: none;
    .burger .burger-lines,
    .burger .burger-lines:after,
    .burger .burger-lines:before {
      background-color: #424342;
    }

    &-container {
      padding: 2rem;
      position: absolute;
      top: 94px;
      left: -100%;
      border-radius: 0 0 5px 5px;
      background: #ffffff;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
      width: 100vw;
      height: calc(100vh - 94px);
      font-size: 18px;

      display: flex;
      justify-content: center;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }
    }

    @include variables.breakpoints("md") {
      display: block;
    }
  }
}

.active {
  transform: translateX(100%);
}
