@use "../../variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.footer {
  background: #ffffff;
  padding: 4.2rem;
  display: flex;

  &__logo {
    font-style: normal;
    font-weight: bold;
    font-size: 86.4px;
    line-height: 101px;
    // width: 6ch;
    width: 30%;
    display: flex;
    align-items: center;
    margin-right: 1rem;

    p {
      font-family: "Roboto", sans-serif;
      color: #525452;
    }

    span {
      font-family: "Roboto", sans-serif;
      color: #3a5a4b;
    }

    @include variables.breakpoints("lg") {
      font-size: 4rem;
      line-height: 5rem;
    }

    @include variables.breakpoints("sm") {
      width: 100%;
      margin-bottom: 2rem;
    }

    @include variables.breakpoints("xs") {
      justify-content: center;
    }
  }

  &__text {
    display: flex;
    width: 70%;
    justify-content: space-around;

    &-container {
      max-width: 280px;
      color: #535553;
      margin-right: 1rem;

      &__content {
        h6 {
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
        }

        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
        }

        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }

      @include variables.breakpoints("xs") {
        &:first-child {
          margin-bottom: 2rem;
        }
      }
    }

    @include variables.breakpoints("sm") {
      width: 100%;
      justify-content: space-between;
    }

    @include variables.breakpoints("xs") {
      flex-direction: column;
    }
  }

  @include variables.breakpoints("sm") {
    flex-direction: column;
  }
}
